<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
  <body>
    <nav class="navbar">
      <a class="highscore__link" href="/test">Highscore</a>
      <a class="about__link" href="/about">About</a>
    </nav>
    <main>
        <div id="root"></div>
    </main>
    <script type="module" src="/frontend/src/main.jsx"></script>
</body>
</html>